@media (min-width: 800px){
    .acomodo{
        position: absolute;
        top: 20%;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        color: white;
        text-shadow: 0 0 5px black;
        text-decoration: none;
        text-align: center;
        font-size: 30px;
        width: 570px;
    }
    .texto{
        margin: 3% 10%;
    }
    .logo{
        height: 10%;
        width: 10%;
    }
    .centrado{
        height: 50%;
        width: 50%;
    }
}
@media (max-width: 559px){
    .acomodo{
        position:static;
        top: 50%;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        color: white;
        text-shadow: 0 0 5px black;
        text-decoration: none;
        text-align: center;
        font-size: 20px;
    }
    .texto{
        margin-top: 30%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .quitar{
        display: none;
    }
    .caja .iconos{
        position: relative;
        right: 170px;
        top: 35px;
        width: 100%;
    } 
    .caja .ajuste{
        position: absolute;
        left:1%;
    }
    .centrado{
        margin: 10% 0;
        height: 70%;
        width: 70%;
    }
    .logo{
        position: absolute;
        top: 3px;
        left: 0;
        width: 121px;
        height: 49px;
        
    }
    .navbar-brand{
        font-size: 0px !important;
    }
}
.telefono{
    color: white;
    background-color:forestgreen;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    padding: 5px 15px;
}
.telefono:hover{
    text-decoration: none;
    color: white;
}
.texto h1, h2, h3{
    color: forestgreen;
}
form{
    margin: 0 auto;
    width: 80%;
    box-sizing: border-box;
}
.date{
    border: 1px solid silver;
    border-radius: 2px;
    height: 40px;
    width: 100%;
}
.contenedor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    padding-top: 30px;
    width: 100%;
    height: 100px;
    background-color: #2f4f4f;
    box-sizing: border-box;
}
.contactos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    padding-top: 30px;
    width: 100%;
    height: 270px;
    background-color:#437575;
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
}
.iconos a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    margin-right: 5px;
}
.iconos a:hover{
    cursor: pointer;
    text-decoration: none;
    color:cadetblue;
}
.phone{
    color: white;
    font-weight: 700;
    text-decoration: none;
}
.phone:hover{
    color: white;
    font-weight: 700;
    text-decoration: none;
    text-shadow: 0px 0px 3px black;
    cursor: pointer;
}
.exito{
    text-align: center;
    font-weight: 40px;
    margin: 10% 0;
}
.caja{
    color:aliceblue;
    height: 60px;
    width: 270px;
    margin: 0 60px;
}
.invisible{
    display:none;
}

